*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body{
    height: 100vh;
    /* width: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;

}

#container{
    width: 80%;
    height: 80%;
    /* background: red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    /* border: 2px solid black; */
    gap: 20px;
}

.wall{
    /* background: red;s */
    border:3px solid black;
    border-radius: 15px;
}

