* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgb(224, 224, 224);
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

/* .options #start {
  background: green;
}
.options #pause {
  background: yellow;
}
.options #stop {
  background: red;
} */

.timer span {
  font-size: 1.5rem;
  font-weight: 600;
}
