* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#gameContainer {
  height: 40vw;
  width: 40vw;
  background: rgb(0, 0, 0);
  /* display: flex;
  flex-wrap: wrap; */
}

.gameBoardPixal {
  height: 1vw;
  width: 1vw;
  border-radius: 8px;
  float: left;
}

.snakeBodyPixel {
  background-color: rgb(43, 255, 0);
}

.food {
  background-color: rgb(40, 40, 255);
}

.scoreBoard {
  font-size: 50px;
  display: inline-block;
  padding: 5px;
}

#onScreenController {
  width: 200px;
  height: 150px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#onScreenController button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

#onScreenController div {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#onScreenController button i {
  width: 100%;
  height: 100%;
  color: blue;
  /* background: red; */
}
