* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#signel {
  background: red;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid black;
}

.block-channel button {
  height: 30px;
  width: 30px;
}

.blink {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
